*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body{
    overflow-x: hidden;

    display: grid;
    grid-template-rows: 1fr 6fr 6fr 6fr 1fr;
}

.wrapper{
    height: 100%;
    width: 1400px;
    border: 1px dashed green;
}

a,li{
    text-decoration: none;
    list-style-type: none;
}

header{
    width: 100%;
    background-color: black;

    display: grid;
    place-items: center;
}

header img{
    width: 100%;
}

header .container{
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;
    grid-template-columns: 1fr 7fr;
}

header .container ul{
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
    align-content: center;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
}

header .container a{
    color: white;
    font-size: 20px;
}

/* Top Section */
.top-section{
    width: 100%;
    background-color: purple;

    display: grid;
    place-items: center;
}

.top-section .container{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-areas:
    'item-1 item-2 '
    'item-1 item-3 '
    'item-1 item-4'
}

.top-section .item-1{
    grid-area: item-1;
}

.top-section.item-2{
    grid-area: item-2;
}

.top-section .item-3{
    grid-area: item-3;
}

.top-section .item-4{
    grid-area: item-4;
}

/* Middle Section */
.middle-section{
    width: 100%;
    background-color: violet;

    display: grid;
    place-items: center;
}

.middle-section .item{
    border: 2px dashed red;
}

.middle-section img {
    width: 100px;
}

.middle-section .container{
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* Bottom Section */
.bottom-section{
    width: 100%;
    background-color: blueviolet;

    display: grid;
    place-items: center;
}

.bottom-section img{
    width: 100%;
    height: 100%;
}

.bottom-section .container{
    display: grid;
    gap: 1.5rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 200px;
}

.bottom-section .item{
    border: 1px dashed red;
}

.item-tall{
    grid-row: span 2 / auto;
}

.item-wide{
    grid-column: span 3 / auto;
}

/* footer */
footer{
    width: 100%;
    background-color: brown;

    display: grid;
    place-items: center;
}

footer .container{
    display: grid;
    gap: 20px;

    grid-template-areas:
    'a b c d e';

    --stagger-delay: 100ms;
}

@keyframes itemAnimation{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

footer .container img{
    width: 100%;
    height: 100%;
}

footer .container .item{
    animation: itemAnimation 500ms ease-out;
    animation-fill-mode: backwards;
}

footer .container .item:nth-child(1){
    grid-area: a;
    animation-delay:calc(1 * var(--stagger-delay));
}

footer .container .item:nth-child(2){
    grid-area: b;
    animation-delay:calc(2 * var(--stagger-delay));
}

footer .container .item:nth-child(3){
    grid-area: c;
    animation-delay:calc(3 * var(--stagger-delay));
}

footer .container .item:nth-child(4){
    grid-area: d;
    animation-delay:calc(4 * var(--stagger-delay));
}

footer .container .item:nth-child(5){
    grid-area: e;
    animation-delay:calc(5 * var(--stagger-delay));
}
